* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: #3c595e;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 10%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.cabecalho-lista-item a {
    text-decoration: none;
    color: white;
}

.escola-imagem {
    width: 25%;
}

#escola {
    background-image: linear-gradient(#3c595e, #89aeda);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo {
    width: 35%;
}


.escola-titulo {
    padding: 24px 0;
}

#estudante {
    padding: 24px 0;
}


.estudante-imagem {
    width: 120px;
}

.estudante-icone {
    width: 24px;
    padding: 4px 8px;
}

.estudante-div {
    text-align: center;
    padding: 16px 0;
}

.estudante-titulo {
    text-align: center;
    padding: 24px 0;
    background-color: #ffffff;
}

.estudante-todos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #89aeda;
}

.rodape {
    background-color: rgb(95, 101, 116);
    text-align: center;
}

.rodape-imagem {
    height: 60px;
    padding: 12px 0;

}

.galery {
    margin: auto;
    width: 320px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;

}

.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.galery .fotos img {
    width: 19.9%;

}

.main {


    background-color: #89aeda;
}

.teclado {
    background-color: #89aeda;
    display: gride;
    gap: 10px;
    grid-template-columns: repeat(3, 1 fr);
    padding: 10px;
}

.tecla {
    background-color: #d4d4d4;
    color: rgb(0, 0, 0);
    padding: 30px;
}

 .tecla.ativa, 
 .tecla:active {
    background-color: burlywood;
    color: coral;
    outline: none;
}

.tecla.focus,
.tecla:focus
{outline: none;
    box-shadow: 1px 1px 10px black;

}
.tecla.active:focus,
.tecla.active:focus{
    box-shadow: 3px 3px 0 rgb(199, 147, 147);
}
body{
    background-image:linear-gradient(90deg,#89aeda,#89aeda,#89aeda);
  
  }
  h1{
    font-family:sans-serif;
    color:white;
    text-shadow: 3px, 3px, 3px;
    
   
  }
  h2{
    color:black;
    font-size:20px;
    font-family:sans-serif;
  }
  .titulo{
    
    font-size:25px;
    color:black;
    font-family:monospace;
  }
  .bloco{
    background:gray;
  text-align:center;
    width:300px;
    border-style:double;
    border-radius:5px;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    background-position:absolute;
    display:table;
    vertical-align:absolute;
  }
  
  .input{
    border-radius:10px;
    color:red;
    inline-size:1cm;
    text-align:center;
   }
  #sinal{
    color:white;
  }
  h3{
    text-align:right;
    font-family:bradley hand, cursive;
  }
  #apresentacao{
    text-align:center;
    padding:0.3cm;
  }
  #seunome{
    font-size:25px;
    font-family:sans-serif;
  }
  