.one {
    background-color: #bc7fdf;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.two{
    width: 15%;
}