* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: #3c595e;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 10%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.cabecalho-lista-item a {
    text-decoration: none;
    color: white;
}

.escola-imagem {
    width: 25%;
}

#escola {
    background-image: linear-gradient(#3c595e, #89aeda);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo {
    width: 35%;
}


.escola-titulo {
    padding: 24px 0;
}

#estudante2 {
    padding: 24px 0;
}


.estudante-imagem2 {
    width: 120px;
}

.estudante-icone2 {
    width: 24px;
    padding: 4px 8px;
}

.estudante-div2 {
    text-align: center;
    padding: 16px 0;
}

.estudante-titulo2 {
    text-align: center;
    padding: 24px 0;
    background-color: #ffffff;
}

.estudante-todos2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #89aeda;
}

.rodape {
    background-color: rgb(95, 101, 116);
    text-align: center;
}

.rodape-imagem {
    height: 60px;
    padding: 12px 0;

}

.galery {
    margin: auto;
    width: 320px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;

}

.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.galery .fotos img {
    width: 19.9%;

}

.main {


    background-color: #89aeda;
}

.teclado {
    background-color: #89aeda;
    display: gride;
    gap: 10px;
    grid-template-columns: repeat(3, 1 fr);
    padding: 10px;
}

.tecla {
    background-color: #cccccc;
    color: rgb(0, 0, 0);
    padding: 30px;
}

 .tecla.ativa, 
 .tecla:active {
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    outline: none;
}

.tecla.focus,
.tecla:focus
{outline: none;
    box-shadow: 1px 1px 10px black;

}
.tecla.active:focus,
.tecla.active:focus{
    box-shadow: 3px 3px 0 rgb(14, 15, 15);
}
body{
    background-image:linear-gradient(90deg,#89aeda,#89aeda,#89aeda);
  
  }
  h1{
    font-family:sans-serif;
    color:white;
    text-shadow: 3px, 3px, 3px;
    
   
  }
  h2{
    color:black;
    font-size:20px;
    font-family:sans-serif;
  }
  .titulo{
    
    font-size:75px;
    color:black;
    font-family:monospace;
  }

  
  .input{
    border-radius:10px;
    color:rgb(12, 5, 5);
    inline-size:1cm;
    text-align:center;
   }
  #sinal{
    color:white;
  }
  h3{
   
    font-family:bradley hand, cursive;
  }
  #apresentacao{
    text-align:center;
    padding:0.3cm;
  }
  .container {
    text-align: center;
    padding: 20px;
    
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }

  *:focus {
    outline: 0 !important;
  }


.espaçamento {
  margin: 0 auto;
  height:40px;
}

.calculadora {
  margin: 0 auto;
  width: 294px;
  background-color: #89aeda);
  border: 1px solid #ddd;
}

.tela {
  width: 279px;
  border: 0;
  border-radius: 1px;
  height: 60px;
  padding-right: 15px;
  padding-top: 10px;
  background-color: #202020;
  text-align: right;
  margin-right: 6px;
  font-size: 2.5rem;
  color: white;
  overflow-x: auto;
  transition: all .2s ease-in-out;
}

.contas div {
  color: white;
  display: inline-block;
  border: 0;
  border-radius: 1px;
  width: 40px;
  text-align: center;
  padding: 10px;
  margin: 20px 4px 10px 0;
  cursor: pointer;
  background-color: #202020;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.painel-numeros {
  display: inline-block;
}

.numeros div {
  color: white;
  display: inline-block;
  border: 0;
  border-radius: 1px;
  width: 40px;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: #202020;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.igual {
  display: inline-block;
  border: 0;
  border-radius: 1px;
  width: 40px;
  text-align: center;
  padding: 102px 10px;
  margin: 10px 6px 10px 0;
  vertical-align: top;
  cursor: pointer;
  color: #FFF;
  background-color: #202020;
  transition: all .2s ease-in-out;
}